.RightButton {
    padding: 20px;
    margin: 20px;
}
.LeftButton {
    padding: 20px;
    margin: 20px;
}
.q1image{
    display: grid;
    place-items: center;
    background-image: url(https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg);
    background-size: 100% 100%;
    height: 1000px
}
.q2image{
    display: grid;
    place-items: center;
    background-image: url(https://media.istockphoto.com/id/1288526180/photo/4k-abstract-white-backgrounds.jpg?b=1&s=612x612&w=0&k=20&c=DoL2JfG_nI_UiB7RUQub2n3UDKpKJPhNhLLobJ47Flw=);
    background-size: 100% 100%;
    height: 1000px;
}
.q3image{
    display: grid;
    place-items: center;
    background-image: url(https://img.freepik.com/premium-photo/abstract-white-background_476363-6571.jpg);
    background-size: 100% 100%;
    height: 1000px;
}
.q4image{
    display: grid;
    place-items: center;
    background-image: url(https://img.freepik.com/premium-photo/abstract-white-background-with-smooth-wavy-lines_476363-137.jpg);
    background-size: 100% 100%;
    height: 1000px;
}
.q5image{
    display: grid;
    place-items: center;
    background-image: url(https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg);
    background-size: 100% 100%;
    height: 1000px;
}
.q6image{
    display: grid;
    place-items: center;
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v996-008-kroiqtdh.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=96026b35e406acc8c3517293d0a1685e);
    background-size: 100% 100%;
    height: 1000px;
}
.q7image{
    display: grid;
    place-items: center;
    background-image: url(https://media.istockphoto.com/id/1253186607/vector/abstract-white-gray-color-background-with-round-liquid-shape-vector-illustration.jpg?s=612x612&w=0&k=20&c=DcRAR-_TCrVIOLOkJLhsdmtNH1pUPe5I2e8Wv9ijOHg=);
    background-size: 100% 100%;
    height: 1000px;
}
.q8image{
    display: grid;
    place-items: center;
    background-image: url(https://img.freepik.com/premium-photo/abstract-white-background-with-smooth-wavy-lines_476363-163.jpg);
    background-size: 100% 100%;
    height: 1000px;
}
.q9image{
    display: grid;
    place-items: center;
    background-image: url(https://img.freepik.com/free-vector/gradient-white-monochrome-background_23-2149014956.jpg);
    background-size: 100% 100%;
    height: 1000px;
}
.q0image{
    display: grid;
    place-items: center;
    background-image: url(https://www.marshallsindia.com/ImageBuckets/ItemImages/ZA%201903.jpg?id=75);
    background-size: 100% 100%;
    height: 1000px;

}